body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #000;
    background-color: #eeeeee;
}
div#header {
    position: relative;
    top: 0px;
    left: 0;
    right: 0;
    height: 124px;
    background: #be1e2b;
    display: block;
}
div#header h1 {
    font-size: 24px;
    line-height: 64px;
    color: #fff;
    font-weight: 400;
}

div#page-container {
    position: relative;
    top: -60px;
}
div#main-content {
    background-color: #ffffff;
}
div#main-content div#admin-header{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #E0E0E0;
}
div#main-content div#admin-header h2{
    font-weight: 400;
    font-size: 16px;
}
div#main-content div#content {
    padding-top: 16px;
    min-height: 400px;
}
div#main-content div#content p.intro {
    line-height: 1.5em;
    font-size: 14px;
}
div#footer {
    background-color: #757575;
    color: #fff;
    padding-top: 16px;
    padding-bottom: 16px;
}
div#footer a {
    color: #fff;
    text-decoration: underline;
}
div#footer a:hover {
    color: #ddd;
}
.subheader {
    color: #8A8A8A;
    height: 48px;
    font-size: 14px;
    display: block;
    line-height: 51px;
}

a.link {
    font-size: 16px;
    color: #000;
    text-decoration: underline;
}

.mat-card {
    border-radius: 2px;
}
.mat-resting-shadow {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}
.mat-layer-shadow {
     box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3);
}

/* Login form */
.login-form {
    margin-top: 50px;
}
.login-form header {
    margin: 0 0 16px -2px;
    padding: 0;
    font-size: 24px;
    font-weight: 400;
    color: #1e1e1e;
}
.login-form fieldset {
    display: block;
    padding: 0;
    border: none;
    position: relative;
}
.login-form fieldset section {
    margin-bottom: 12px;
    position: relative;
}
.login-form fieldset section label, label {
    display: block;
    margin: 16px 0 0 0px;
    font-size: 12px;
    font-weight: 400;
    color: #a9a9a9;

    text-align: left;
    white-space: normal;
}
.login-form fieldset section input, .inputClass {
    width: 100%;
    font-size: 16px;
    height: auto;
    padding: 8px 0 8px 0;
    margin: 0 0 7px 0;
    color: #1e1e1e;

    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: #eaeaea 1px solid;
}
.login-form fieldset section input:focus{
    border-color: #1565C0;
    border-width: 2px;
    margin-bottom: 6px;
}
.login-form footer {
    min-height: 40px;
    padding: 0;
}
.submit-button {
    float: right;
    height: 32px;
    margin: 48px 0 12px 0px;
    padding: 0 22px;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .05);
    -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .05);
    -webkit-tap-highlight-color: rgba(169, 3, 41, .5);
    color: #fff;
    background-color: #1565C0;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 0 16px 0 16px;
    font-size: 16px;
    line-height: 32px;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    letter-spacing: 1px;
    text-transform: uppercase;

    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);

    -webkit-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}
.login-form footer .submit-button:hover,
.start-import.submit-button:hover,
.price-form-container .submit-button:hover
{
    color: #fff;
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3);
}
.login-form .error, .error-message {
    color: #be1e2b;
}
.input-form {
    margin-bottom: 72px;
}

.admin-img-container {
    text-align: center;
}

/*Progress indicator*/
.progress-indicator-wrapper {
    margin-top: 24px;
    margin-bottom: 72px;
}
.progress-indicator-wrapper.first {
    margin-bottom: 80px;
}
.progress-indicator {
    height: 5px;
    width: 100%;
    outline: none;
    background-color: #b0d0ef;
}
.progress-indicator .status-indicator-phase{
    height: inherit;
    background-color: #1565C0;
    width: 11.11111%;
    padding: 0;
    margin: 0;
    transition: width 0.4s;
    -webkit-transition: width 0.4s;
}
.progress-indicator-wrapper p.start-text,
.progress-indicator-wrapper p.next-text,
.progress-indicator-wrapper p.end-text
{
    height: 40px;
}
div#content {}
div#content p {
    margin-bottom: 0px;
    line-height: 1.5;
}
h4 {
    margin-bottom: 20px;
}

/*Price modify*/
.price-form-container {
    margin-top: 16px;
    margin-bottom: 16px;
}

.price-form-container input#product_price {
    width: 100%;
    font-size: 16px;
    height: auto;
    padding: 8px 0 8px 0;
    margin: 0 0 19px 0;
    color: #1e1e1e;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: #eaeaea 1px solid;
}
.price-form-container input#product_price:focus {
    border-color: #1565C0;
    border-width: 2px;
    margin-bottom: 18px;
}
p#variable-title {
    margin-top: 24px;
}
p#variable-title span {
    position: relative;
    top: -13px;
}
@media (max-width: 420px){
    div.kozmo-container {
        width: 100%;
        /* padding: 0px; */
    }
    div.no-padding-420 {
        padding-left: 0px;
        padding-right: 0px;
    }
}
table {
    border-collapse: collapse;
}
td {
    padding: 10px;
}
