body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 14.66px;
    color: #000;

}
#page-container {
    width: 100%;
    position: relative;
}
#main {
    width: 70%;
    margin: 0 auto 0px;
    padding: 40px;
    border-top: none;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #ddd;
    background-color: #F1F1F1;
    min-height: 300px;
}
#main-header {
    width: 70%;
    margin: 0 auto 0px;
    padding: 40px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
#main-area {
    width: 100%;
    margin: 0px;
    border-color: #ddd;
}
#main-area-header {
    width: 100%;
    margin: 0px;
}
h1 {
    line-height: 23px;
    margin: 0px 0px 20px;
    color: #4a4a4a;
}

#footer {
    height: 180px;
    width: 70%;
    margin: 0 auto;
    background: #0077c0;
    border: 1px solid #0066b0;
    padding: 40px;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    -o-border-radius: 0 0 6px 6px;
    -ms-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;

}

#footer p,#footer p a,#footer p a:visited,#footer p a:active {
    color: #fff;
    margin-top: 145px;
    padding-right: 10px;
}
#footer p a {
    text-decoration: underline;
}
#footer a.underline {
    text-decoration: underline;
}
