/*
*	Kozmo Grid
*	A basic row consists of a standard 12 pieces
*	We never need columns by five.
*
*	Content width starts at 1170px and goes down to 320px
*/

/* Trash */
.position-fixed-840 { position: fixed; }
.position-fixed-420 { position: fixed; }

.kozmo-container-fluid, .kozmo-container, .kozmo-row {
    box-sizing: border-box;
}
.kozmo-container-fluid:before, .kozmo-container:before, .kozmo-row:before {
    display: table;
    content: " ";
}

.kozmo-container-fluid {
    width: 100%;
    min-width: 400px;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
}
.kozmo-container {
    /*width: 1170px; */
    width: 1220px;
    padding: 0 16px 0 16px;
    margin-right: auto;
    margin-left: auto;
}


/**
 *	The paddings are 15px on the global layout
 */
.kozmo-row {
    /*width: 100%;*/
    margin-left: -16px;
    margin-right: -16px;
}

.kozmo-col-1, .kozmo-col-2, .kozmo-col-3, .kozmo-col-4,
.kozmo-col-6,
.kozmo-col-8, .kozmo-col-9, .kozmo-col-12,
.kozmo-col-md-1, .kozmo-col-md-2, .kozmo-col-md-3, .kozmo-col-md-4,
.kozmo-col-md-6,
.kozmo-col-md-8, .kozmo-col-md-9, .kozmo-col-md-12,
.kozmo-col-sx-1, .kozmo-col-sx-2, .kozmo-col-sx-3, .kozmo-col-sx-4,
.kozmo-col-sx-6,
.kozmo-col-sx-8, .kozmo-col-sx-9, .kozmo-col-sx-12 {
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
    float: left;
}

.kozmo-col-1, .kozmo-col-2, .kozmo-col-3, .kozmo-col-4,
.kozmo-col-6,
.kozmo-col-8, .kozmo-col-9, .kozmo-col-12
{
    padding-right: 16px;
    padding-left: 16px;
}

/* Layout columns */
.kozmo-row .kozmo-col-1 { width: 8.33%; }
.kozmo-row .kozmo-col-2 { width: 16.66%; }
.kozmo-row .kozmo-col-3 { width: 25%; }
.kozmo-row .kozmo-col-4 { width: 33.33%; }

.kozmo-row .kozmo-col-6 { width: 50%; }

.kozmo-row .kozmo-col-8 { width: 66.66%; }
.kozmo-row .kozmo-col-9 { width: 75%; }
.kozmo-row .kozmo-col-12 { width: 100%; }


/* md medium view */
.kozmo-row .kozmo-col-md-1 { width: 8.33%; }
.kozmo-row .kozmo-col-md-2 { width: 16.66%; }
.kozmo-row .kozmo-col-md-3 { width: 25%; }
.kozmo-row .kozmo-col-md-4 { width: 33.33%;}

.kozmo-row .kozmo-col-md-6 { width: 50%; }

.kozmo-row .kozmo-col-md-8 { width: 66.66%;}
.kozmo-row .kozmo-col-md-9 { width: 75%; }
.kozmo-row .kozmo-col-md-12 { width: 100%; }


/* sx mobile only */
.kozmo-row .kozmo-col-sx-1 {  }
.kozmo-row .kozmo-col-sx-2 {  }
.kozmo-row .kozmo-col-sx-3 {  }
.kozmo-row .kozmo-col-sx-4 {  }

.kozmo-row .kozmo-col-sx-6 {  }

.kozmo-row .kozmo-col-sx-8 { }
.kozmo-row .kozmo-col-sx-9 {  }
.kozmo-row .kozmo-col-sx-12 {  }

/***/
/**	The paddings are 15px inside the article*/
/**/
/*div#kozmo-article div.kozmo-row {*/
/*margin-left: -15px;*/
/*margin-right: -15px;*/
/*}*/
/*div#kozmo-article .kozmo-col-1, div#kozmo-article .kozmo-col-2, div#kozmo-article .kozmo-col-3, div#kozmo-article .kozmo-col-4,*/
/*div#kozmo-article .kozmo-col-6,*/
/*div#kozmo-article .kozmo-col-8, div#kozmo-article .kozmo-col-9, div#kozmo-article .kozmo-col-12*/
/*{*/
/*padding-right: 15px;*/
/*padding-left: 15px;*/
/*}*/

/**
 *	The paddings are 15px inside the article
 */
div#kozmo-article div.kozmo-row {
    margin-left: -16px;
    margin-right: -16px;
}
.kozmo-col-md-1, .kozmo-col-md-2, .kozmo-col-md-3, .kozmo-col-md-4,
.kozmo-col-md-6,
.kozmo-col-md-8, .kozmo-col-md-9, .kozmo-col-md-12,
.kozmo-col-sx-1, .kozmo-col-sx-2, .kozmo-col-sx-3, .kozmo-col-sx-4,
.kozmo-col-sx-6,
.kozmo-col-sx-8, .kozmo-col-sx-9, .kozmo-col-sx-12
{
    padding-right: 16px;
    padding-left: 16px;
}


/**
 * Responsiveness
 */

/* Large devices (large desktops, 1770px and down) */
@media (max-width: 1240px) { /* bootstrap 1770 */

    div.clear-both-1240 {
        clear: both;
    }

    .kozmo-container {
        width: 820px;
    }

}

/* fejlec osszeer */
@media (max-width: 960px) {
    div.clear-both-960 {
        clear: both;
    }
}

/* innen már a mobil nézet */
@media (max-width: 840px) {

    .position-fixed-840 { position: relative; }

    .kozmo-container-fluid {
        padding-left: 16px;
        padding-right: 16px;
    }
    .kozmo-container {
        width: 400px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .kozmo-row {
        margin-left: -16px;
        margin-right: -16px;
    }

    .kozmo-col-1, .kozmo-col-2, .kozmo-col-3, .kozmo-col-4,
    .kozmo-col-6,
    .kozmo-col-8, .kozmo-col-9, .kozmo-col-12
    {
        padding-right: 16px;
        padding-left: 16px;
    }

    /* sx */
    .kozmo-row .kozmo-col-sx-1 { width: 8.33%; }
    .kozmo-row .kozmo-col-sx-2 { width: 16.66%; }
    .kozmo-row .kozmo-col-sx-3 { width: 25%; }
    .kozmo-row .kozmo-col-sx-4 { width: 33.33%; }

    .kozmo-row .kozmo-col-sx-6 { width: 50%; }

    .kozmo-row .kozmo-col-sx-8 { width: 66.66%;}
    .kozmo-row .kozmo-col-sx-9 { width: 75%; }
    .kozmo-row .kozmo-col-sx-12 { width: 100%; }

    div.clear-both-sx {
        clear: both;
    }

}

/* fejléc mobile */
@media (max-width: 550px) {
    div.clear-both-550 {
        clear: both;
    }
}

/* very small */
@media (max-width: 420px) {

    .position-fixed-420 { position: relative; }

    .kozmo-container-fluid {
        min-width: 320px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .kozmo-container {
        width: 320px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .kozmo-row {
        margin-left: -16px !important;
        margin-right: -16px !important;;
    }

    .kozmo-col-1, .kozmo-col-2, .kozmo-col-3, .kozmo-col-4,
    .kozmo-col-6,
    .kozmo-col-8, .kozmo-col-9, .kozmo-col-12,
    .kozmo-col-md-1, .kozmo-col-md-2, .kozmo-col-md-3, .kozmo-col-md-4,
    .kozmo-col-md-6,
    .kozmo-col-md-8, .kozmo-col-md-9, .kozmo-col-md-12,
    .kozmo-col-sx-1, .kozmo-col-sx-2, .kozmo-col-sx-3, .kozmo-col-sx-4,
    .kozmo-col-sx-6,
    .kozmo-col-sx-8, .kozmo-col-sx-9, .kozmo-col-sx-12
    {
        padding-right: 16px;
        padding-left: 16px;
    }

}
