<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %} WebTown | Hírek {% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    {% block stylesheets %}
        {% stylesheets
        'bundles/webtownmain/css/reset.css'
        'bundles/webtownmain/css/base.css'
        'bundles/webtownmain/css/grid.css'
        'bundles/webtownmain/css/font-awesome.min.css'
        filter="cssrewrite" %}
        <link href="{{ asset_url }}" rel="stylesheet" />
        {% endstylesheets %}
    {% endblock %}

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <script src="//tinymce.cachefly.net/4.2/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: ".tynmc",
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table contextmenu paste"
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
        });
    </script>

</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
