{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% stylesheets
    'bundles/webtownmain/css/admin.css'
    filter="cssrewrite" %}
    <link href="{{ asset_url }}" rel="stylesheet" />
    {% endstylesheets %}

{% endblock %}

{% block body %}
    <div id="header" class="kozmo-container-fluid">
        <div class="kozmo-container">
            <div class="kozmo-row">
                <div class="kozmo-col-12 no-padding-420">
                    <h1>WEBTOWN PRÓBAFELADAT</h1>
                </div>
                <div class="clear-both"></div>
            </div>
        </div>
    </div>

    <div id="page-container" class="kozmo-container">
        <div class="kozmo-row">
            <div id="main-content" class="kozmo-col-12 mat-resting-shadow mat-card">
                <div id="admin-header" class="kozmo-row">
                    {% block contentTitle %}
                    {% endblock %}
                    <div class="clear-both"></div>
                </div>
                <div id="content" class="kozmo-row">
                    <div class="kozmo-col-12">
                        {% block content %}{% endblock %}
                    </div>
                    <div class="clear-both"></div>
                </div>
                <div class="clear-both"></div>
            </div>
            <div class="clear-both"></div>
        </div>
    </div>

    <div id="footer" class="kozmo-container-fluid">
        <div class="kozmo-row">
            <div class="kozmo-container">
                <div class="kozmo-col-12">
                    <p class="align-center">Mészáros László</p>
                </div>
                <div class="clear-both"></div>
            </div>
        </div>
    </div>
{% endblock %}