{% extends 'WebTownMainBundle::layout.html.twig' %}

{% block contentTitle %}
    <div class="kozmo-col-9">
        <h2>Belépés</h2>
    </div>
    <div class="kozmo-col-3">
        {% if app.user %}<p class="float-right"><a class="link" href="{{ path('logout') }}">Kilépés</a></p>{% endif %}
    </div>
{% endblock %}

{% block content %}
    <div class="kozmo-col-4 kozmo-col-md-3 kozmo-col-sx-0"></div>
    <div class="kozmo-col-4 kozmo-col-md-6 kozmo-col-sx-12">
        {% if app.user %}
            <p>Be vagy jelentkezve ugrás a
            <a href="{{ path('hir') }}" class="link">Hírek szerkesztése</a> oldalra.</p>
        {% else %}
            <div class="form-container">
                <form action="{{ path('login_check') }}" method="post" class="login-form">
                    <header>
                        Bejelentkezés
                    </header>

                    <fieldset>
                        <section>
                            <label for="username">Email</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" />
                        </section>
                        <section>
                            <label for="password">Jelszó</label>
                            <input type="password" id="password" name="_password" />
                        </section>
                        <section>
                            {% if error %}
                                <div class="error">{% if error.messageKey == 'Invalid credentials.' %} Hibás felhasználónév vagy jelszó!   {% endif %}</div>
                            {% endif %}
                        </section>

                        {#
                            If you want to control the URL the user
                            is redirected to on success (more details below)
                        #}
                        <input type="hidden" name="_target_path" value="/hir" />
                    </fieldset>

                    <footer>
                        <button type="submit" class="submit-button">Belépés</button>
                    </footer>
                </form>
            </div>
        {% endif %}
    </div>
    <div class="kozmo-col-4 kozmo-col-md-3 kozmo-col-sx-0"></div>
    <div class="clear-both"></div>
{% endblock %}

