{% extends 'WebTownMainBundle::layout.html.twig' %}

{% block contentTitle %}
    <div class="kozmo-col-9">
        <h2>Hír szerkesztése</h2>
    </div>
    <div class="kozmo-col-3">
        {% if app.user %}<p class="float-right"><a class="logout" href="{{ path('logout') }}">Kilépés</a></p>{% else %}<p class="float-right"><a class="logout" href="{{ path('login_route') }}">Belépés</a></p>{% endif %}
    </div>
{% endblock %}

{% block content %}
    {{ form(edit_form) }}
    <p><a href="{{ path('hir') }}" class="link">
            Vissza a listára</a></p>
{% endblock %}
