{% extends 'WebTownMainBundle::layout.html.twig' %}

{% block contentTitle %}
    <div class="kozmo-col-9">
        <h2>Hírek</h2>
    </div>
    <div class="kozmo-col-3">
        {% if app.user %}<p class="float-right"><a class="logout" href="{{ path('logout') }}">Kilépés</a></p>{% else %}<p class="float-right"><a class="logout" href="{{ path('login_route') }}">Belépés</a></p>{% endif %}
    </div>
{% endblock %}

{% block content %}

    <table class="records_list">
        <thead>
            <tr>
                <th>Cím</th>
                <th>URL</th>
                <th>Létrehozás dátuma</th>
                <th>Művelet</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.title }}</td>
                <td><a href="{{ path('hir_show', { 'slug': entity.slug }) }}" class="link">hir/{{ entity.slug }}</a></td>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}<a href="{{ path('hir_edit', { 'id': entity.id }) }}" class="link">Szerkesztés</a><br>{% endif %}
                    {% if is_granted('ROLE_ADMIN') %}{% if entity.status is null %}<a href="{{ path('hir_public', { 'id': entity.id }) }}" class="link">Jóváhagyás</a><br>{% endif %}{% endif %}
                    {% if is_granted('ROLE_ADMIN') %}<a href="{{ path('hir_delete', { 'id': entity.id }) }}" class="link">Törlés</a>{% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p><a href="{{ path('hir_new') }}" class="link">
        Új hír létrehozása
    </a></p>
    <p><a href="{{ path('web_town_home_page') }}" class="link">
            Hírek publikus oldala
        </a></p>
    {% endblock %}
