{% extends 'WebTownMainBundle::layout.html.twig' %}

{% block contentTitle %}
    <div class="kozmo-col-9">
        <h2>Hírek</h2>
    </div>
    <div class="kozmo-col-3">
        {% if app.user %}<p class="float-right"><a class="logout" href="{{ path('hir') }}">Hírek szerkesztése</a> | <a class="logout" href="{{ path('logout') }}">Kilépés</a></p>{% else %}<p class="float-right"><a class="logout" href="{{ path('login_route') }}">Belépés</a></p>{% endif %}
    </div>
{% endblock %}

{% block content %}
        {% for entity in entities %}
            <div class="kozmo-col-12">
               <h3><a href="{{ path('hir_show', { 'slug': entity.slug }) }}" class="link">{{ entity.title }}</a></h3>
                <p>{{ entity.description }} <a href="{{ path('hir_show', { 'slug': entity.slug }) }}">Részletek</a></p>
                <p></p>
            </div>
        {% endfor %}
{% endblock %}
