{% extends 'WebTownMainBundle::layout.html.twig' %}

{% block contentTitle %}
    <div class="kozmo-col-9">
        <h2>{{ entity.title }}</h2>
    </div>
    <div class="kozmo-col-3">
        {% if app.user %}<p class="float-right"><a class="logout" href="{{ path('hir') }}">Hírek szerkesztése</a> | <a class="logout" href="{{ path('logout') }}">Kilépés</a></p>{% else %}<p class="float-right"><a class="logout" href="{{ path('login_route') }}">Belépés</a></p>{% endif %}
    </div>
{% endblock %}

{% block content %}

    <h3>{{ entity.title }}</h3>
    <p>Utoljára módosítva: {{ entity.created|date('Y. M. d. H:i') }}</p>
    <p>{{ entity.description }}</p>
    <p>{{ entity.content|raw }}</p>
    <a href="{{ path('web_town_home_page') }}" class="link">Vissza a hírekhez</a>
{% endblock %}
